.vacation-options-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.vacation-option-button {
  padding: 0.5rem;
  border-radius: 25px;
  background: transparent;
  border: 1px solid green;
  margin: 7px;
}